br
br
h3="Настройка виджета"
br
.row
  .col-md-6
    form#widget-settings
      .form-group.row
        .col-md-6
          label
            ="Город"
          select.form-control(name="city")
            each index, name in cities
              option(value=index)
                =name
        .col-md-6
          label
            ="Количество дней"
          select.form-control(name="days_count")
            each value in days
              option(value=value)
                =`${value} д.`
      .form-group
        label
          ="Отображение"
        .form-check
          label.form-check-label
            input.form-check-input(type="radio" name="horizontal" value="1")
            =" Горзонтально"
        .radio
          label
            input(type="radio" name="horizontal" value="0")
            =" Вертикально"
      .form-group
        label
          ="Код виджета"
        textarea.form-control(name="result" rows="5")
  .col-md-4
    #widget-place