doctype html
html(lang="en")
    head
        block header
            title
                block title
                =" | Сайт"
            link(rel= "stylesheet" href= "/app.css")
            meta(name='title' content='app')
    body
        .header
            block head
                .container
                    .row
                        .col.justify-content-between.align-items-center.d-flex
                            h3.text-muted Logo
                            nav
                                ul.nav.nav-pills
                                    li.nav-item
                                        a.nav-link(href='/') Главная
                                    li.nav-item
                                        a.nav-link(href='/about') О нас
        nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md
            button.navbar-toggler.navbar-toggler-right(data-toggle="collapse" data-target="#navbarsExampleContainer")
                span.navbar-toggler-icon
            .container
                div.collapse.navbar-collapse#navbarsExampleContainer
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link Ссылка 1
                        li.nav-item
                            a.nav-link Ссылка 2
                        li.nav-item
                            a.nav-link Ссылка 3
                        li.nav-item
                            a.nav-link Ссылка 4
        .content__wrap
            .container
                h1.content__title
                    block title
                .containt__container
                    block content
        script(src="widget.js")